<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LibraryServlet</servlet-name>
        <servlet-class>servlet.LibraryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/content/home.jsp</jsp-file>
    </servlet>
    <servlet><servlet-name>view-books</servlet-name><jsp-file>/content/view-books.jsp</jsp-file></servlet>
    <servlet>
        <servlet-name>view-moreBooks</servlet-name>
        <jsp-file>/content/view-moreBooks.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>view-loans</servlet-name>
        <jsp-file>/content/view-loans.jsp</jsp-file>
    </servlet>
    <servlet><servlet-name>view-loans-success</servlet-name><jsp-file>/content/view-loans-success.jsp</jsp-file></servlet>
    <servlet>
        <servlet-name>view-reservation</servlet-name>
        <jsp-file>/content/view-reservation.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>view-reservation-success</servlet-name>
        <jsp-file>/content/view-reservation-success.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logout</servlet-name>
        <jsp-file>/content/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LibraryServlet</servlet-name>
        <url-pattern>/content/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view-books</servlet-name>
        <url-pattern>/view-books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view-moreBooks</servlet-name>
        <url-pattern>/view-moreBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view-loans</servlet-name>
        <url-pattern>/view-loans</url-pattern>
    </servlet-mapping><servlet-mapping>
        <servlet-name>view-loans</servlet-name>
        <url-pattern>/view-loans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view-loans-success</servlet-name>
        <url-pattern>/view-loans-success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view-reservation</servlet-name>
        <url-pattern>/view-reservation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view-reservation-success</servlet-name>
        <url-pattern>/view-reservation-success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    </web-app>
